/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "Helvetica";
}

html {
    background-image: url('/assets/images/city.jpg');
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Banner */

header {
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width: auto;
    min-height: 100vh;
    color: white;
    background-image: url('/assets/images/network.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: calc(2em + 2vw);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items:center;
}



