/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "Helvetica";
    margin: 0;
}

html {
    background-image: url('../images/city.jpg');
    /* background-color: black; */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-width: 100vw;
    overflow-x: hidden;
}

#imagesPage {
    color: white;
    background-image: none;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-width: 100vw;
    overflow-x: hidden;
}


/* Banner */

header {
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width: auto;
    min-height: 100vh;
    color: white;
    background-image: url('../images/network.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#imagesHeader {
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width: auto;
    min-height: 100vh;
    color: white;
    background-image: url('../images/blue_ridge.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: calc(2em + 3vw);
    padding-top: 10%;
}

/* Nav */

nav {
    background-color: #1A1A1F;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 3;
    overflow-x: initial;
}

nav li {
    display: inline-block;
    padding: 1.5%;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    font-family: "Helvetica", "Sans-serif";
    color: white;
    text-decoration: none;
}

.introduction {
    width: 80%;
    text-align: center;
}

/* Button */

.buttonBox {
    display: flex;
    justify-content: center;
    align-content: center;
  }

.myButton {
  border-radius: 28px;
  border: 1px solid #aaffff;
  cursor: pointer;
  color: #aaf9ff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color:rgba(255,255,255,0.3);
}

.myButton:active {
    position:relative;
    top:1px;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items:center;
}

section {
    /* background-color: aliceblue; */
    color: white;
}

/* Image Grid */

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 32%;
    padding: 0.5%;
    max-width: 32%;
}

img {
    width: 100%;
    height: auto;
}

/* Footer */

footer {
    color: white;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* background-color: black; */
}

::-webkit-scrollbar-thumb {
    /* background-color: #094f4f; */
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Media Queries */

@media all and (max-width:800px) {
    .column {
        flex: 48%;
        max-width: 48%;
    }
}

